{% extends '_admin/_includes/index.html.twig' %}

{% block titre %}{{ menu.getRoute }}{% endblock %}

{% block page_content %}

    {% set new = menu.getRoute %}
    <!-- PAGE-HEADER -->
    <div class="page-header" style="margin-top:-0.1rem">
        <h1 class="page-title">{{ "Courriers départ" |capitalize }}</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('courierDepart') }}">LISTE COURRIERS DEPART</a></li>{#
                <li class="breadcrumb-item active" aria-current="page">{{ "NOUVEAU CLIENT" | capitalize }}</li>#}
            </ol>
        </div>

    </div>
    <!-- PAGE-HEADER END -->
    <!-- Row -->
    <div class="row row-sm" style="margin-top:-1rem">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-10">
                        <h3 class="card-title">{{ titre | capitalize }}</h3>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-secondary bg-secondary-gradient offset-7"  href="{{ path('courierDepart_new') }}" data-bs-toggle="modal" data-bs-target="#extralargemodal">
                            <i class="fe fe-plus"></i>Nouveau
                        </a>
                    </div>

                </div>
                <div class="card-body" id="tab-courier">

                    <div class="tab-pane " id="content" >
                        {% set _url =  path('courier_depart_liste') %}
                        <a class="nav-link active" data-method="POST" data-bs-toggle="tab" href="#content" data-href="{{ _url }}">

                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/tab-load.js') }}"></script>
    <script>
        $(document).ready(function () {
            load_tab('tab-courier');
        });
    </script>

{% endblock %}
